h1, h2, h3, h4, h5, h6{
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
}
body,
button,
input,
select,
table,
textarea, .order-info-box .box-content {
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
    color: #636363;
    font-size: 1em;
    line-height: 1.5;
}
th{
    font-family: "Myriad Pro Light Semi Ext";
    color: #6c6c6c;
    font-size: 1.1em;
}

label{
    font-family: "Myriad Pro Light", Verdana, Arial, sans-serif;
    color: #636363;
    font-size: 1em;
    line-height: 1.5;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
    font-family: 'Myriad Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Italic'), url('../fonts/Myriad_Pro_Italic.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light'), url('../fonts/MyriadPro-Light.woff') format('woff');
}
@font-face {
    font-family: 'Myriad Pro Light Semi Ext';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light Semi Ext'), url('../fonts/MyriadPro-LightSemiExt.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold Italic'), url('../fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed Italic'), url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Italic'), url('../fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}

.product-view .product-shop .product-name .h1{
    font-size: 2.5em;
    font-family: "Myriad Pro Regular";
    color: #5b5b5b;
    text-transform: none;

}

.product-image-thumbs li {
    display: block;
}
.product-img-box {
    width: 60%;
}
.more-views {
    width: 84px;
    float: left;
}

.product-view .product-shop {
    width: 40%;
}
.product-view .add-to-cart-wrapper {
    width: 40%;
}
.product-img-box .product-image {
    margin-left: 45px;
}
.product-image-thumbs a {
    border-color: #a2a6ac;
}
.product-image-thumbs a:hover {
    border-color: #e74c3c;
}

.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover{
    border:none;
}

.short-description span{
    font-size: 1.2em;
    color: #464646;
    display: block;
}
.title_desc{
    text-transform: uppercase;
    font-family: Myriad Pro Regular;
}
.lenght, .compatible{
    float: left;
    width: 25%;
}
.lenght_value, .compatible_value{
    width: 75%;
    margin-left: 25%;
}

.lenght, .lenght_value{
    background-color: #f8f8f8;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    font-family: "Myriad Pro Light";
}
.compatible, .compatible_value{
    padding-left: 10px;
    font-family: "Myriad Pro Light";
}
.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button{
    background-color: #e74c3c;
    border-radius: 3px;
}

.cart .buttons-set .button:hover,
.cart-table .button:hover,
.sidebar .actions .button:hover,
.button.button-secondary:hover {
    background: #e74c3c;
    cursor: pointer;
}
.button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.footer .button:hover {
    background: #e74c3c;
    cursor: pointer;
}


.header-language-container .sharing-links {
    float: right;
    padding-top: 7px;
    margin-right: -10px;
}
.footer .sharing-links{
    float: left;
    margin-top: 40px;
}

.header-language-container .sharing-links:after, .footer .sharing-links:after {
    content: '';
    display: table;
    clear: both;
}
.header-language-container .sharing-links li, .footer .sharing-links li {
    float: left;
}
.header-language-container .sharing-links a, .footer .sharing-links a {
    text-indent: -9999px;
    display: block;
    width: 30px;
    height: 26px;
}
.header-language-container .sharing-links a:hover, .footer .sharing-links a:hover {
    opacity: 0.8;
}
.header-language-background{
    background-color: #fbfbfb;
    padding: 0px;
    padding-top: 3px;

}
.header-language-container .sharing-links a.link-facebook, .footer .sharing-links a.link-facebook {
    background-image: url(../images/fb.png);
    background-repeat: no-repeat;
}
.header-language-container .sharing-links a.link-twitter, .footer .sharing-links a.link-twitter {
    background-image: url(../images/tw.png);
    background-repeat: no-repeat;
}
.header-language-container .sharing-links a.link-instagram, .footer .sharing-links a.link-instagram {
    background-image: url(../images/in.png);
    background-repeat: no-repeat;
}

.header-language-container .sharing-links a:hover, .footer .sharing-links a:hover {
    opacity: 0.8;

}
.header-language-container, .page-header{
    background-color: #fbfbfb;

}
.logo{
    min-height: 38px;
    opacity: 0.7;
    padding: 0px;
}
.logo:hover{
    opacity: 0.7;
}
.page-header{
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    background-color: #fbfbfb;
    overflow: auto;
}
.page-header-container{
    max-width: 1200px;
    margin: 0 auto;
}

.tab-content {
    overflow: auto;
}

.product-view .block-related{
    width: 100%;
    clear: none;
    float: left;
}
.mini-products-list li{
    clear: none;
    float: left;
    width:30%;
}

.product-view .block-related .product-details {
    clear: both;
    margin-left: 0px;
}

h2.product-name, h3.product-name, h4.product-name, h5.product-name, p.product-name {
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
    font-size: 2.1em;
    font-weight: normal;
    color: #4a4b46;
    text-transform: none;
}
p.product-desc {
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 1.2em;
    color: #4a4b46;
    word-wrap: break-word;
}

.addthis_native_toolbox {
    padding-left: 25%;
    border-bottom: 1px solid #cccccc;
}
.product-view .add-to-cart-wrapper {
    width: 30%;
}
.product-view .price-info {
    width: 10%;
    float: right;
    padding-left: 40px;
}
.product-view .add-to-cart{
    border:none;
}

.std ol {
    list-style: none;
}
.product img {
    margin: 0 auto;
}

.product-view .std {
    overflow: auto;
}
.tit {
    clear: both;
    font-family: "Myriad Pro Light";
    font-size: 1.2em;
    margin-left: 60px;
    margin-right: 60px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
.tit .tit_desc{
    font-family: "Myriad Pro Regular";
    margin:0px;
}
.block-related .block-title h2{
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 2.2em;
    color:#4a4b46;
}
ol.nav-primary {
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 1.7em;
    color:#6f6f6f;
}

.product-view .nav-primary a{
    padding-right: 66px;

}
.product-view .nav-primary li.level0 > a{
    text-transform: uppercase;
}
.product-view .nav-primary li.level0 > a:hover{
    text-decoration: underline;
    text-decoration-color: blue;
    color: #6f6f6f;
}
.tit1 p.product-name{
    text-transform: uppercase;
}

.main-container, .footer-container {
    position: relative;
    max-width: none;
    margin: 0px;
    padding: 0px;
}

body.cms-home .main-container {
    padding-top: 0px;
}

.main {
    width: 1200px;
    margin: 30px auto;
}
body.cms-home .main, .catalog-category-view .main,  .onestepcheckout-index-index .main {
    width: 100%;
    margin: 0px;
}

.home_block1 {
    background-color: #f8f8f8;
    overflow: auto;
}
.home_block1 .entry_block{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.home1_text {
    width: 65%;
    float: left;
}
.home1_text .btn-cart{
    float: left;
    margin-top: 30px;
}
.home1_text img{
    width: 130px;
}
.home1_text .line1{
    font-family: "Myriad Pro Regular";
    font-size: 4.2em;
    color: #2b7cef;
    margin: 0px;
}
.home1_text .line2{
    font-family: "Myriad Pro Light";
    font-size: 3.4em;
    color: #2b2b2b;
    margin: 0px;
}
.home1_text .line3{
    font-family: "Myriad Pro Light";
    font-size: 1.2em;
    color: #494949;
    margin: 0px;
}
.home2_img img, .home3_img img {
    margin: 0 auto;
}
.home2_text{
    font-family: "Myriad Pro Light";
    font-size: 1.7em;
    color:#494949;
    text-align: center;
    margin-bottom:50px;
}

.home2_text a{
    text-decoration: underline;
    color: #2b7cef;
}
.table_home td{
    border-bottom: 1px solid #afafaf;
}
td.grayfon{
    background-color: #f8f8f8;
    width: 23%;
    text-align: center;
}
td.grayfon img{
    margin:0 auto;
}
td.val{
    text-align: center;
    width: 23%;
}
td.val img{
    margin:0 auto;
}
.table_home{
    margin-bottom:70px;
    color: #303030;
    font-family: "Myriad Pro Regular";
    font-size: 2em;
}
.home3_text {
    width: 80%;
    margin: 0 auto;
}


.new_home {
    width: 50%;
    float: left;
    margin-right: 5%;
}

.new_home .products-grid > li {
    width: 100%;
}

.new_home .products-grid .product-name {
    width: 100%;
}
.new_home .products-grid a.product-image {
    width: 50%;
    margin-left: 0px;
}

.new_home .products-grid .product-image img{
    width: auto;
    float: left;
}
.cms-index-index .new_home .products-grid .actions{
    display: block;
}
.cms-index-index .new_home .products-grid .actions .add-to-links{
    display: none;
}
.home_block4 .entry_block{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.amazon_reviews {
    float: left;
    width: 45%;
    background-color: #f8f8f8;
    padding: 50px;
    margin-top: 70px;
}
.amazon_reviews p {
    clear: both;
    margin-top: 20px;
}
.amazon_reviews img {
    margin-left: 10px;
    padding-left: 10px;
}
.amazon_reviews .author_review{
    font-family: "Myriad Pro Light";
    font-style: italic;
    float: left;
}
.amazon_head{
    text-align: right;
    background-image: url(../images/head_reviews.png);
    background-position: top left;
    background-repeat: no-repeat;
    overflow: auto;

}
.amazon_head .line1{
     display: block;
 }
.amazon_head img{
    float: right;
}
.amazon_head a{
    float: right;
}
.home_block4 {
    overflow: auto;
}
.home5_img {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 90px;
}
.home5_img img {
    width: 33%;
    float: left;
    padding: 14px;
}

.home_block5 {
    background-color: #ECECEC;
    clear: both;
    OVERFLOW: auto;
}
.home_block5 .home5_text{
    text-align: center;
}
.home_block5 .home5_text .line1{
    font-family: "Myriad Pro Regular";
    font-size: 3.2em;
    color: #2b7cef;
}
.home_block5 .home5_text .line2{
    font-family: "Myriad Pro Light";
    font-size: 2.4em;
    color: #464646;
}
.footer  .block-subscribe{
    background-image: url(../images/subscribe_bg.png);
    background-repeat: no-repeat;
    width: 583px;
    height: 249px;
    margin-top: 40px;
    margin-right: 80px;
}
.block-subscribe .block-title p{
    padding: 0px;
}

.block-subscribe .block-title .line1{
    color: #575757;
    font-size: 1.5em;
    font-family: "Myriad Pro Regular";
    padding-top: 40px;
    padding-left: 80px;
}
.block-subscribe .block-title .line2{
    color: #838383;
    font-size: 1em;
    font-family: "Myriad Pro Light";
    padding-left: 80px;
}
.footer .block-subscribe .input-box{
    padding-left: 80px;
    width: 62%;
}
.footer .block-subscribe .input-text{
    height: 55px;
}
.footer .block-subscribe .actions .button {
    height: 55px;
    width: 122px;
}
.footer .button{
    font-family: "Myriad Pro Semibold";
    font-size: 1.1em;
}
.footer .links{
    width: 45%;
    margin-top: 50px;
    margin-left: 60px;
}
.footer .links li{
    float: left;
}
.footer .links a {
    padding: 0px 25px;
    color: #787878;
    font-family: "Myriad Pro Regular";
    font-size: 1em;
    text-transform: none;
}
.footer p.footer_links_text {
    width: 40%;
    margin-left: 85px;
    text-align: justify;
    word-wrap: break-word;
    color: #787878;
    font-family: "Myriad Pro Light";
    font-size: 1em;

}
.footer .bugs, .footer address{
    clear: none;
    width: 34%;
    padding: 0px;
    margin: 0px;
    float: left;
    border: none;
    color: #8c8c8c;
    font-family: "Myriad Pro Light";
    font-size: 0.9em;
    margin-left: 85px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.new_home p.product-desc{
    text-align: left;
}

.new_home .products-grid .product-name{
    text-align: left;
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
    font-size: 2.1em;
}
.product-view {
    width: 1200px;
    margin: 0 auto;
}

.new_home  .products-grid .actions{
    width: 10%;
    float: left;
    position: relative;
}
.new_home .price-box{
    width: 20%;
    float: left;
    margin-top:15px;
}

.block.block-cart {
    width: 240px;
    float: right;
    margin-top: -45px;
}
.block-cart .block-content {
    width: 100px;
    float: left;
}
.block-cart .actions {
    margin: 10px 0 0;
    float: left;
}
.block-cart span.price {
    background-color: #fff;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.block-cart span.total_qty {
    background-color: #656565;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}

.block-cart p.subtotal {
    margin-top: 10px;
}
.post-entry p {
    width: 78%;
    margin-left: 22%;
    font-family: "Myriad Pro Light";
    font-size: 1.2em;
    color: #4a4b46;
}
.featured-image {
    width: 20%;
    float: left;
    border:none;
}
.post-meta{
    font-family: "Myriad Pro Regular";
    font-size: 1em;
    color: #4a4b46;
    font-style: normal;
}
.post-list h2{
    color: #2b7cef;
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 1.7em;
}
.introduction{
    color:#969696;
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 1em;
}

.category-products {
    width: 1200px;
    margin: 40px auto;
}
@media only screen and (min-width: 480px) {
    .category-choose-your-luxtr .products-grid > li {
        width: 100%;
    }
}
@media only screen and (min-width: 960px) {
    .category-choose-your-luxtr .products-grid > li {
        width: 48%;
        margin-right: 3.7037%;
        background-color: #f8f8f8;
        min-height: 838px;
    }
    .products-grid > li:nth-child(even) {
        margin-right: 0px;
    }
}

.choose, .title_checkout{
    font-family: "Myriad Pro Light Semi Ext";
    color:#848484;
    background-color: #f8f8f8;
}
.choose_entry, .title_checkout_entry{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}
.title_checkout_entry h1{
    font-family: "Myriad Pro Light Semi Ext";
    color:#848484;
    font-size: 2em;
    text-transform: none;
}
.choose .line1{
    font-size: 3em;
    text-transform: uppercase;
}
.choose .line2{
    font-size: 1.2em;
}
.lastitem{
    text-align: center;
}
.lastitem .line1{
    font-family: "Myriad Pro Semibold";
    color:#090a05;
    font-size: 4em;
}
.lastitem .line2{
    color: #090a05;
    font-family: "Myriad Pro Regular";
    font-size: 2em;
}
.lastitem .line3{
    color: #4a4b46;
    font-family: "Myriad Pro Light";
    font-size: 1.1em;

}
.lastitem img{
    margin: 0 auto;
}

.products-grid .vip_club .actions {
    position: inherit;
}

.vip_club input[type=email] {
    height: 60px;
}
.vip_club button.button {
    height: 60px;
    width: 365px;
    font-family: "Myriad Pro Semibold";
    font-size: 2em;
}
.choose_bottom .entry_block {
    width: 1200px;
    margin: 0 auto;
}
.choose_bottom .entry_block img{
    width:100%;
}
.spanlenght{
    color:#2b7cef;
}
.spancolor{
    font-style: italic;
    font-size: 0.9em;

}
.products-grid .product-name a, .products-list .product-name a{
    text-transform: none;
}
.price-box .price{
    font-family: "Myriad Pro Semibold Italic";
    color:#404040;
    font-size: 1.8em;
}
.cms-index-index h2.subtitle{
    border:none;
    text-align: left;
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 2em;
    color:#848484;
}

.home_block4:before{
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    border-bottom: 1px solid #dfdfdf;
}
.category-products .products-grid p.product-desc {
    width: 80%;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10px;
}
.category-products .products-grid .price-box{
    width:50%;
    float:left;
}
.category-products .products-grid .actions {
    width:50%;
    float:left;
    padding: 0px;
    position: inherit;
    min-height: 40px;
    margin-bottom: 20px;
}
.products-grid .vip_club .actions {
    width: 100%;
    padding-top: 10px;
}
.category-products .products-grid .product-info{
    padding: 0px;
    min-height: 180px;
}
.products-grid .product-image {
    width: 90%;
    margin: 5% auto;
    background-color: #fff;
}

.category-products .products-grid .product-image img{
    width: auto;
    margin: 0 auto;
}
/*.viplast:before{*/
    /*border: 1px solid #aeaeae;*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*bottom: 10px;*/
    /*left: 10px;*/
    /*right: 10px;*/
/*}*/

.choose_bottom_text {
    width: 35%;
    float: left;
    margin-right: -5%;
    margin-top: 190px;
}
.choose_bottom_img {
    width: 70%;
    float: left;
}
.choose_bottom_text .line1{
    font-family: "Myriad Pro Regular";
    font-size: 2.5em;
    color:#2b7cef;
    text-align: center;
}
.block_warranty{
    background: url("../images/logo_vip.png") no-repeat top center #f3f2f8;
    background-size: 40%;
    padding-top: 90px;
}
p.warranty_text{
    font-family: "Myriad Pro Light";
    font-size: 0.8em;
    color:#4a4b46;
    text-align: center;
    padding: 0px 10px 10px 10px;
}
.block_warranty .line3{
    text-align: center;
    font-family: "Myriad Pro Light";
    font-size: 0.8em;
    color:#4a4b46;
    padding-top: 5px;
}
.block_warranty .line4{
    text-align: center;
    font-family: "Myriad Pro Light";
    font-size: 0.8em;
    padding-bottom: 10px;
}

.choose_bottom:before, .upcoming:before {
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    border-bottom: 1px solid #dfdfdf;
}
.footer{
    border:none;
    background-color: #f8f8f8;
    padding-top: 0px;
    overflow: auto;
}

.choose_bottom {
    overflow: auto;
    background-color: #fff;
}
.upcoming_wrapper{
    background-color: #fff;
    overflow: auto;
}
.upcoming h4{
    color:#b1b1b1;
    font-family: "Myriad Pro Regular";
    font-size: 2em;
    font-weight: normal;
    padding-top:20px;
}
.upcoming .products-grid > li {
    width: 30.8642%;
    margin-right: 3.7037%;
    min-height: 500px;
    background-color: #fff;
}
.upcoming .products-grid > li:nth-child(3) {
    margin-right: 0px;
}

.learnmore{
    background-color: #b1b1b1 !important;
    margin-left: 10%;
}
.upcoming .products-grid .product-name{
    font-family: "Myriad Pro Regular";
    font-size: 2em;
    color: #5b5b5b;
}


.products-grid .product-name, .products-list .product-name{
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
    font-size: 2.1em;
    font-weight: normal;
    color: #4a4b46;
    text-transform: none;
    width: 80%;
    margin-left: 10%;
    text-align: left;
}

.price-box .old-price .price{
    font-family: "Myriad Pro Italic";
    font-size: 1.3em;
    color: #797979;
}






div.onestepcheckout-threecolumns div.onestepcheckout-column-middle,
div.onestepcheckout-threecolumns div.onestepcheckout-column-left{
    width: 960px;
    margin: 0 auto;
    clear: both;
    background: none;
    float: none;
    overflow: auto;
    padding-left: 60px;
}
div.onestepcheckout-threecolumns div.onestepcheckout-column-right{
    width: 960px;
    margin: 0 auto;
    clear: both;
    background: none;
    float: none;
    overflow: auto;
}

.checkout_border{
    width: 960px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-bottom: 60px;
}


div#shipping_address {
    width: 50%;
    float: left;
}

div#billing_address {
    width: 50%;
    float: left;
}

div.checkoutcontainer div.input-country select, div.checkoutcontainer div.input-region select {
    width: 100% !important;
}
div.checkoutcontainer div.input-country, div.checkoutcontainer div.input-region{
    width: 83%;
}
p.onestepcheckout-numbers-1, p.onestepcheckout-numbers-2, p.onestepcheckout-numbers-3, p.onestepcheckout-numbers-4{
    background: none;
}

#onestepcheckout-form .group-select{
    padding: 0px !important;
}

div.checkoutcontainer{
    border: none;
}

.onestepcheckout-shipping-method:before {
    content: '';
    width: 900px;
    border-bottom: 1px solid #dfdfdf;
}

.payment-methods dt {
    padding: 5px 0;
    width: 200px;
    float: left;
}

@media only screen and (min-width: 771px){
    .logo {
        max-width: 130px;
    }
}

.page-title h1 {
    width: 1200px;
    margin: 10px auto;
}

.cart-empty p {
    width: 1200px;
    margin: 0 auto;
}

.checkoutcontainer li.shipping-address-title,p.onestepcheckout-numbers-1,
p.onestepcheckout-numbers-2, p.onestepcheckout-numbers-3, p.onestepcheckout-numbers-4{
    color:#2b7cef;
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 1.5em;
    padding-left: 0px;
    margin-bottom: 10px;
    font-weight: normal;
}

td.name img {
    float: left;
}
div.checkoutcontainer .input-country, div.checkoutcontainer .input-region{
    border:0px;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fff url("../images/icon_dropdown.png") no-repeat 98% 50%;
    width: 83%;
    margin-left: 0px;
    height: 38px;
}
div.checkoutcontainer div.input-country select, div.checkoutcontainer div.input-region select{
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    color: #91a193;
    font-family: Arial;
    font-size: 10px;
    height: 38px;
}
 .checkoutcontainer .payment-methods .input-box-type{
     border:0px;
     padding: 0;
     margin: 0;
     border: 1px solid #ccc;
     border-radius: 3px;
     overflow: hidden;
     background: #fff url("../images/icon_dropdown.png") no-repeat 98% 50%;
     margin-left: 0px;
     width: 100%;
     margin-top: 2px;
     height: 38px;
 }

.checkoutcontainer .payment-methods .input-box .sel_date{
    border:0px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fff url("../images/icon_dropdown.png") no-repeat 98% 50%;
    margin-left: 0px;
    width: 49%;
    height: 38px;
}
 .type_p, .number_p, .exp_d{
     width: 45%;
     float: left;
 }
li.type_p {
    margin-right: 7%;
}
.checkoutcontainer .payment-methods .input-box-type select, .checkoutcontainer .payment-methods .input-box select.month,
.checkoutcontainer .payment-methods .input-box select.year{
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    color: #91a193;
    font-family: Arial;
    font-size: 10px;
    width: 100% !important;
    height: 38px;
    margin-top: 0px;
}
label.required:after {
    content: "";
}

.orange.onestepcheckout-button, .orange.onestepcheckout-button:visited {
    background: none;
    background-color: #e74c3c;
    width: 290px;
    height: 54px;

}
.onestepcheckout-button, .onestepcheckout-button:visited{
    text-transform: uppercase;
    color: #fff;
    font-size: 1,7em;
}
.onestepcheckout-button:after{
    content: '>\0000a0';
}
.mar_right{
    margin-right: 10px;
}


div.checkoutcontainer div.input-address-short .input-text, div.checkoutcontainer div.input-firstname .input-text, div.checkoutcontainer div.input-lastname .input-text, div.checkoutcontainer div.input-email .input-text, div.checkoutcontainer div.input-telephone .input-text, div.checkoutcontainer div.input-company .input-text, div.checkoutcontainer div.input-fax .input-text, div.checkoutcontainer div.input-password .input-text{
    width: 77%;
}
input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text]{
    height: 38px;
}

.delimetr {
    height: 28px;
    width: 840px;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 60px;
}
.onestepcheckout-summary th{
    border-top: none;
}
.onestepcheckout-totals td{
    border: none;
}
table.onestepcheckout-totals td.title{
    text-transform: uppercase;
}

table.onestepcheckout-totals tr.grand-total td{
    color:#2b7cef;
    font-weight: normal;
    font-size: 1.4em;
}
table.onestepcheckout-totals tr.grand-total td.value{
    color: #000;
}


.checkoutcontainer .payment-methods .card_type, .checkoutcontainer .payment-methods .cc_number{
    width: 50% !important;
    float: left;
    margin-bottom: 6px;
}



.img_payment_system{
    background: url(../images/paymentsystem.png) no-repeat top left;
    height: 23px;
    clear: both;
}
.cvv_number{
    width: 44% !important;
    float: left
}

.exp_date{
    width: 56% !important;
    float: left
}
.payment-methods .form-list{
    background: none;
    border: none;
    width: 70%;
}
.payment-methods .form-list:before{
    content: "";
    display: none;
}
.payment-methods .form-list:after{
    content: "";
    display: none;
}
/*.payment-methods dt{*/
    /*float: none;*/
/*}*/

.payment-methods .form-list, .payment-methods dd, .input-box .v-fix{
    margin: 0px;
    padding: 0px;
}

.cvv_n{
    width: 45%;
    float: left;
    margin-left: 7%;
}

.btn-update-qty_l{
    background: #fff url(../images/btn_l.png) no-repeat;
    width: 22px;
    height: 29px;
    border: none;
    padding: 0px;
    margin: 0px;
    float: left;
}

.btn-update-qty_r{
    background: #fff url(../images/btn_r.png) no-repeat;
    width: 22px;
    height: 29px;
    border: none;
    padding: 0px;
    margin: 0px;
    float: left;
}
.qty_inp{
    height: 29px;
    width: 39px;
    padding: 0px;
    margin: 0px;
    float: left;
    border-radius: 0px;
    text-align: center;
}
table.onestepcheckout-summary td.qty, table.onestepcheckout-summary th.qty {
    width: 12%;
    text-align: center;
}

span.onestepcheckout-product-remove{
    background: #fff url(../images/btn_del.png) no-repeat;
    width: 10px;
    height: 11px;
    float: left;
    margin-top: 8px;
    margin-left: 3px;
}

table.onestepcheckout-summary td.name{
    padding: 0 50px;
}

div.onestepcheckout-place-order-wrapper {
    text-align: left;
    margin-top: 20px;
    margin-left: 60px;
}
.onestepcheckout-summary th, .onestepcheckout-summary, .onestepcheckout-summary td, .onestepcheckout-totals td {
    padding: 6px 0;
}

#onestepcheckout-form label {
    margin-top: 6px;
}
li.exp_d{
    clear: both;
}

.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button{
    padding: 7px 30px;
    line-height: 24px;
}

form#login-form, form#form-validate {
    width: 1200px;
    margin: 37px auto;
}

.customer-account-forgotpassword .fieldset, .customer-account-forgotpassword .buttons-set{
    margin-left: 0px;
}



.cart .buttons-set .button, .cart-table .button, .sidebar .actions .button, .button.button-secondary{
    background-color: #e74c3c;
    border-radius: 3px;
    color: #fff;
}

#cart-sidebar-reorder p.product-name{
    font-size: 1.1em;
}

#contactForm{
    padding-left: 0px;
}

.cms-page-view .std h1, .cms-no-route .std h1 {
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
    color: #636363;

}