body,
button,
input,
select,
table,
textarea {
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
    color: #636363;
    font-size: 14px;
    line-height: 1.5;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light'), url('../fonts/MyriadPro-Light.woff') format('woff');
}
@font-face {
    font-family: 'Myriad Pro Light Semi Ext';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light Semi Ext'), url('../fonts/MyriadPro-LightSemiExt.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold Italic'), url('../fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed Italic'), url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Italic'), url('../fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}

.product-view .product-shop .product-name .h1{
    font-size: 36px;
    font-family: "Myriad Pro Regular";
    color: #5b5b5b;
    text-transform: none;

}

.product-image-thumbs li {
    display: block;
}
.product-img-box {
    width: 60%;
}
.more-views {
    width: 84px;
    float: left;
}

.product-view .product-shop {
    width: 40%;
}
.product-view .add-to-cart-wrapper {
    width: 40%;
}
.product-img-box .product-image {
    margin-left: 45px;
}
.product-image-thumbs a {
    border-color: #a2a6ac;
}
.product-image-thumbs a:hover {
    border-color: #e74c3c;
}

.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover{
    border:none;
}

.short-description span{
    font-size: 18px;
    color: #464646;
    display: block;
}
.title_desc{
    text-transform: uppercase;
    font-family: Myriad Pro Regular;
}
.lenght, .compatible{
    float: left;
    width: 25%;
}
.lenght_value, .compatible_value{
    width: 75%;
    margin-left: 25%;
}

.lenght, .lenght_value{
    background-color: #f8f8f8;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    font-family: "Myriad Pro Light";
}
.compatible, .compatible_value{
    padding-left: 10px;
    font-family: "Myriad Pro Light";
}
.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button{
    background-color: #e74c3c;
    border-radius: 3px;
}

.cart .buttons-set .button:hover,
.cart-table .button:hover,
.sidebar .actions .button:hover,
.button.button-secondary:hover {
    background: #e74c3c;
    cursor: pointer;
}
.button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.footer .button:hover {
    background: #e74c3c;
    cursor: pointer;
}


.header-language-container .sharing-links {
    float: right;
}

.header-language-container .sharing-links:after {
    content: '';
    display: table;
    clear: both;
}
.header-language-container .sharing-links li {
    float: left;
}
.header-language-container .sharing-links a {
    text-indent: -9999px;
    display: block;
    width: 30px;
    height: 26px;
}
.header-language-container .sharing-links a:hover {
    opacity: 0.8;
}
.header-language-background{
    background-color: #fbfbfb;
    padding: 0px;
    padding-top: 3px;

}
.header-language-container .sharing-links a.link-facebook {
    background-image: url(../images/fb.png);
    background-repeat: no-repeat;
}
.header-language-container .sharing-links a.link-twitter {
    background-image: url(../images/tw.png);
    background-repeat: no-repeat;
}
.header-language-container .sharing-links a.link-instagram {
    background-image: url(../images/in.png);
    background-repeat: no-repeat;
}

.header-language-container .sharing-links a:hover {
    opacity: 0.8;

}
.header-language-container, .page-header{
    background-color: #fbfbfb;

}
.logo{
    min-height: 38px;
    opacity: 0.7;
    padding: 0px;
}
.logo:hover{
    opacity: 0.7;
}
.page-header{
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
}
.page-header-container{
    max-width: 1260px;
    margin: 0 auto;
}

.tab-content {
    overflow: auto;
}

.product-view .block-related{
    width: 100%;
    clear: none;
    float: left;
}
.mini-products-list li{
    clear: none;
    float: left;
    width:30%;
}

.product-view .block-related .product-details {
    clear: both;
    margin-left: 0px;
}

h2.product-name, h3.product-name, h4.product-name, h5.product-name, p.product-name {
    font-family: "Myriad Pro Regular", Verdana, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #4a4b46;
    text-transform: none;
}
p.product-desc {
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 18px;
    color: #4a4b46;
    word-wrap: break-word;
}

.addthis_native_toolbox {
    padding-left: 25%;
    border-bottom: 1px solid #cccccc;
}
.product-view .add-to-cart-wrapper {
    width: 30%;
}
.product-view .price-info {
    width: 10%;
    float: right;
    padding-left: 40px;
}
.product-view .add-to-cart{
    border:none;
}

.std ol {
    list-style: none;
}
.product img {
    margin: 0 auto;
}

.product-view .std {
    overflow: auto;
}
.tit {
    clear: both;
    font-family: "Myriad Pro Light";
    font-size: 18px;
    margin-left: 60px;
    margin-right: 60px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
.tit .tit_desc{
    font-family: "Myriad Pro Regular";
}
.block-related .block-title h2{
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 32px;
    color:#4a4b46;
}
ol.nav-primary {
    font-family: "Myriad Pro Light Semi Ext";
    font-size: 24px;
    color:#6f6f6f;
}

.nav-primary a{
    padding-right: 66px;
}
.nav-primary li.level0 > a:hover{
    text-decoration: underline;
    text-decoration-color: blue;
    color: #6f6f6f;
}
.tit1 p.product-name{
    text-transform: uppercase;
}